{%- assign page_paths = site.header_pages | default: default_paths -%}
<header>
  <div class="menu-image">
      <a href="/"><img src="/assets/scotch.png" alt="Home" draggable="false"></a>
  </div>
  <div class="menu">
    <!-- <div class="menu-title" onclick="location.href='/';">
      <img src="/assets/scotch.png" href="/">
      <h1><a href="/">{{ site.title }}</a></h1>
    </div> -->
    <ul>
      {%- assign i = 0 -%}
      {%- for path in page_paths -%}
        {%- assign my_page = site.pages | where: "path", path | first -%}
        {%- if my_page.header-title and my_page.file -%}
          {%- assign my_page_destination = my_page.file | relative_url -%}
        {%- elsif my_page.title -%}
          {%- assign my_page_destination = my_page.url | relative_url -%}
        {%- endif -%}

        
          <li class="menu-item-{{ i }}"><a href="{{ my_page_destination }}">{{ my_page.header-title | escape }}</a></li>
        

        {%- assign i = i | plus:1 -%}
      {%- endfor -%}
    </ul>
  </div>
</header>
