<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>{{ page.title }}</title>
  {%- seo title=false -%}

  <link rel="icon" type="image/png" sizes="32x32" href="/assets/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/assets/favicon-16x16.png">

  <!-- {%- if page.favicon -%} -->
  <!-- <link rel="icon" type="image/png" href="{{ site.favicon }}"> -->
  <!-- {%- endif -%} -->

  {%- if site.listen_for_clients_preferred_style -%}
    <link rel="stylesheet" type="text/css" href="{{ "/assets/main.css" | relative_url }}">
  {%- else -%}
    {%- if site.style == 'light' -%}
     <link rel="stylesheet" type="text/css" href="{{ "/assets/main-light.css" | relative_url }}">
   {%- else -%}
      <link rel="stylesheet" type="text/css" href="{{ "/assets/main-dark.css" | relative_url }}">
    {%- endif -%}
  {%- endif -%}

<script defer src="/assets/js/modal-script.js"></script>
</head>
