

<a href="#portfolio" id="portfolio"><h2>Portfolio</h2></a>

<div class="projects">
  {%- for project in site.projects  -%}
    {%- assign project_page = site.pages | where: "path", project | first -%}
    <div class="project-card-wrapper">
      <a class="project-card" href="#{{ project_page.title }}">
        <div class="summary-images">
          {%- for img in project_page.summary-imgs -%}
            <img fetchpriority="high" alt="project screenshot" src="{{ img }}">
          {%- endfor -%}
        </div>
        <!-- optional single image -->
        {%- if project_page.summary-img -%}
          <div class="summary-image">
            <img fetchpriority="high" alt="project screenshot" src="{{ project_page.summary-img }}">
          </div>
        {%- endif -%}
        <h2>{{ project_page.title }}</h2>
        <div class="tags">
          {%- for tag in project_page.summary-tags -%}
            <div class="tag">{{ tag }}</div>
          {%- endfor -%}
        </div>
        <p>{{ project_page.summary | markdownify }}</p>
      </a>
      <a class="project-source-link" href="{{ project_page.source }}">
        {%- include icon-github.svg -%}
        github
      </a>
      <div class="project-year">{{ project_page.year }}</div>
    </div>

    <div id="{{ project_page.title }}" class="modal">
      <div class="modal-content">
        <a href="#Portfolio" class="close" title="Close">&times</a>
        <!-- title + source link -->
        <div class="year">{{ project_page.year }}</div>
        <div class="title-and-link">
          <h1>{{ project_page.title }}</h1>
          <a class="project-source-link" href="{{ project_page.source }}">
            {%- include icon-github.svg -%}
            github
          </a>
          {%- if project_page.testflight -%}
            <a class="project-source-link" href="{{ project_page.testflight }}">
              testflight
            </a>
          {%- endif -%}
          {%- if project_page.tryit -%}
            <a class="project-source-link" href="{{ project_page.tryit }}">
              try it
            </a>
          {%- endif -%}
        </div>
        <!-- all tags -->
        <div class="tags">
          {% for tag in project_page.tags %}
            <div class="tag">{{ tag }}</div>
          {% endfor %}
        </div>
        <div class="page-content">
          {{ project_page.content | markdownify }}
        </div>
        <!-- main screenshots -->
        <div class="images">
          {%- for img in project_page.imgs -%}
            <img fetchpriority="low" alt="project screenshot" src="{{ img }}">
          {%- endfor -%}
        </div>
      </div>
    </div>
  {%- endfor -%}
</div>

