/**
 * Dark theme variables
 */

 :root {
  --base-color: #DBDBDB;
  --primary-color: #A2FC8F;
  --border: dashed 1px rgba(219, 219, 219, 0.9);
  --selection-background: rgba(219, 219, 219, 0.99);
  --selection-text: #000;
  --background-color: #000;
  --text-color: var(--base-color);
  --placeholder-color: var(--base-color);
  --link-color: var(--base-color);
  --header-color-1: #A8D6E7;
  --header-color-2: #72B2AB;
  --header-color-3: #FB9268;
  --header-color-4: #D57296;
  --code-color-1: #928374;
  --code-color-2: #ffffcc;
  --code-color-3: #F00000;
  --code-color-4: #F0A0A0;
  --code-color-5: #fb4934;
  --code-color-6: #8ec07c;
  --code-color-7: #83a598;
  --code-color-8: #000080;
  --code-color-9: #fabd2f;
  --code-color-10: #888888;
  --code-color-11: #555555;
  --code-color-12: #800080;
  --code-color-13: #00d4d4;
  --code-color-14: #d3869b;
  --code-color-15: #ed9d13;
  --code-color-16: #1e90ff;
  --code-color-17: #800000;
  --code-color-18: #bbbbbb;
}
