/**
 * Light theme variables
 */

 :root {
  --base-color: #000;
  --primary-color: #0000EE;
  --border: solid 2px rgba(0, 0, 0, 1);
  --selection-background: rgba(0, 0, 0, 0.99);
  --selection-text: #FFEEAE;
  --background-color: #FFEEAE;
  --text-color: var(--base-color);
  --placeholder-color: var(--base-color);
  --link-color: var(--base-color);
  --header-color-1: #A8D6E7;
  --header-color-2: #72B2AB;
  --header-color-3: #FB9268;
  --header-color-4: #D57296;
  --code-color-1: #928374;
  --code-color-2: #ffffcc;
  --code-color-3: #F00000;
  --code-color-4: #F0A0A0;
  --code-color-5: #fb4934;
  --code-color-6: #8ec07c;
  --code-color-7: #83a598;
  --code-color-8: #000080;
  --code-color-9: #fabd2f;
  --code-color-10: #888888;
  --code-color-11: #555555;
  --code-color-12: #800080;
  --code-color-13: #00aaaa;
  --code-color-14: #d3869b;
  --code-color-15: #aa5500;
  --code-color-16: #1e90ff;
  --code-color-17: #800000;
  --code-color-18: #bbbbbb;
}
