<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">
<meta http-equiv="Content-Security-Policy"
  content="default-src 'none'; script-src 'self'; style-src 'self' https://fonts.googleapis.com; img-src 'self'; font-src 'self' https://fonts.gstatic.com; connect-src 'self'; media-src 'self'; object-src 'self'; child-src 'self'; form-action 'none'; base-uri 'self'" />
<meta http-equiv="X-XSS-Protection" content="1;mode=block" always>
<meta http-equiv="Referrer-Policy" content="no-referrer, strict-origin-when-cross-origin">
<meta name="theme-color" content="#FFF2C2" media="(prefers-color-scheme: light)">
<meta name="theme-color" content="#36170D" media="(prefers-color-scheme: dark)">

{%- include head.html -%}

<body>
  <div class="container">

    {%- include header.html -%}
    <div class="content-wrapper">
      <main class="content">
        <div class="content-title">
          <h2>Hello, I'm</h2>
          <h1>{{ site.title }}.</h1>
        </div>
        <div class="mobile-socials">
          {%- include social.html -%}
        </div>
        {{ content }}
      </main>
      <object class="dots-stopper" type="image/svg+xml" data="/assets/dots-stopper.svg" draggable="false"></object>
    </div>
    <object class="drop-stopper" type="image/svg+xml" data="/assets/drop-stopper.svg" draggable="false"></object>

    {%- include footer.html -%}

    <img class="colors" src="/assets/small_colors.png" draggable="false">
    <div class="bg-colors-wrapper">
      <img class="bg-colors" src="/assets/colors.png" draggable="false">
    </div>
  </div>
</body>

</html>